{% extends "base.html" %}
{% block title %}{{ pokemon | capfirst }}{% endblock title %}
{% block content %}
  <p>Has elegido el pokemon: <strong>{{ pokemon | capfirst }}</strong></p>
  <a href="{% url "pokedex:index" %}" class="btn btn-secondary">Regresar</a>
  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card" style="width: 18rem;">
      <img src="{{ pokemon.picture.url }}" class="card-img-top" alt="{{ pokemon.name}}">
      <div class="card-body">
        <h3>Información del Pokemon</h3>
        <ul>
          <li>Nombre: {{ pokemon.name }}</li>
          <li>Tipo: {{ pokemon.get_type_display }}</li>
          <li>Peso: {{ pokemon.weight }} kg</li>
          <li>Altura: {{ pokemon.height }} cm</li>
          <li>Entrenador: {{ pokemon.trainer }}</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
