{% extends "base.html" %}
{% block title %}{{ trainer | capfirst }}{% endblock title %}
{% block content %}
  <div class="card text-center">
    <div class="card-header">
      Información del Entrenador
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ trainer | capfirst }}</h5>
      <p>Nombre: {{ trainer.first_name }}</p>
      <p>Apellido: {{ trainer.last_name }}</p>
      <p>Nivel: {{ trainer.level }}</p>
      <p>Fecha de nacimiento: {{ trainer.birth_date }}</p>
      <a href="{% url "pokedex:index" %}" class="btn btn-secondary">Regresar</a>
    </div>
    <div class="card-footer text-muted">
      Más información proximamente
    </div>
  </div>
{% endblock content %}
  
      